body,
button {
  color: #742305;
  font-family: Lato, sans-serif;
}
header,
article,
.product {
  background-color: #fef7e2;
}
nav li,
.addCart {
  background-color: #ffdf7f;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.logo {
  height: 1.5em;
  margin-right: 0.5em;
}
header {
  width: 80%;
  margin: 20px auto;
  border-radius: 12%;
  padding: 15px;
}
nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
nav li {
  padding: 17px 20px;
  width: 35%;
  border-radius: 15% / 50%;
  font-size: 1.2em;
  font-weight: 600;
}
nav li:first-child {
  width: 75%;
  padding: 30px;
  text-transform: uppercase;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  margin: 30px auto;
  padding: 10px 10px;
}
h3 {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 10px;
}
h5 {
  text-align: center;
  font-weight: 600;
}
h6 {
  text-align: center;
}
.bestSelling {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  width: 85%;
  max-width: 350px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
.prodImg img {
  width: 100%;
  border-radius: 10% / 10%;
}
.prodDesc {
  margin: 10px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.addCart {
  border: none;
  padding: 10px 40px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 30px;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  border-radius: 20px;
}
.article {
  width: 100%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.artContent {
  line-height: 1.3em;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    position: sticky;
    width: unset;
    margin: 0;
    top: 0;
    border-radius: unset;
  }
  nav li,
  nav li:first-child {
    width: unset;
  }
  nav ul {
    align-items: center;
  }
  nav li:nth-child(2),
  nav li:nth-child(3) {
    order: 1;
  }
  nav li:nth-child(4),
  nav li:nth-child(5) {
    order: 3;
  }
  nav li:first-child {
    order: 2;
  }
}
@media screen and (min-width: 1200px) {
  header {
    position: fixed;
    height: 100vh;
    float: left;
    left: 0;
    top: 0;
    width: 15vw;
    margin: 0;
    border-radius: unset;
  }
  nav ul {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  nav li,
  nav li:first-child {
    width: 75%;
    padding: 30px 20px;
  }
  main {
    width: 82vw;
    float: right;
  }
  .bestSelling {
    flex-wrap: nowrap;
    margin-left: 20px;
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .product {
    width: 350px;
    height: 370px;
    max-width: unset;
  }
  .prodImg img {
    width: 350px;
  }
  article {
    width: 90%;
    margin-left: 30px;
  }
  h2 {
    width: 90%;
    text-align: left;
    margin-left: 0;
    padding-left: 30px;
  }
}
